* {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  
  color: hsl(0, 5%, 18%);
}



header {
  width: 100%;
  top: 0%;
  left: 0%;
  right: 0%;
  margin: 0%;
  padding: 0%;
  background-color: rgb(233, 227, 227);
  z-index: 9;
  position:absolute;
  align-content: center;
}

header img {
  display:inline;
  margin: 5px;
  width: 50px;
  float: left;
}


figure {
  display: inline;
}


header figcaption {
  font-style: italic;
  font-size: 12px;
 
}


header nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 4%;
}

header nav li {
  font-size: 1.5rem;
}

header a {
  color:hsl(226, 58%, 21%);
}

li a {
  color: hsl(0, 5%, 18%);
}

li a:hover {
  color: hsl(221, 46%, 35%);
}

@media screen and (max-width: 700px) {
  header nav { 
    display: block;
    margin: 0px 10%;
  }
  
}

header .home {
  margin-right: auto;
  display:inline-flex;
  color: inherit;
}

header .main-nav {
  display:inline-flex;
  margin-right: 10px;
  margin-left: auto;
}

header .main-nav li {
  color: hsl(234, 46%, 18%);
  list-style: none;
  padding: 5px;
  margin: 10px 5px;
}


header .main-nav a:hover, a:hover{
  color: hsl(40, 30%, 56%);
}


a:focus {
  color: rgb(240, 223, 191);
}

p a {
  color: #466995;
  text-decoration: underline;
  cursor: pointer;
}

p a:hover {
  text-decoration: underline;
}

#load {
  font-style: italic;
}

main, #banner {
  margin: 0% 0%;
}


#banner {
  position: relative;
  top: 70px;
  height: 25rem;
  z-index: 2;
  background-size: cover;
  box-shadow: 0px 5px 10px rgb(82, 72, 51);
 
  margin-bottom: 40px;
}  

#banner h1 {
  
  border-radius: 10px;
  background-color:rgb(248, 247, 246);
  opacity: 0.6;
  padding: 2%;
  float: right;
  font-family: "Creepster", cursive;
  font-size: 3rem;
}

#banner p {
  border-radius: 10px;
  background-color:rgb(248, 247, 246);
  opacity: 0.6;
  float: right;
  font-size: 1.2rem;
  width: fit-content;
  padding-right: 2%;
  margin-left: 30%;
  margin-top: 0px;
  display: inline;
}

@media only screen and (max-width: 550px) {
  #banner h1 { 
   
    margin-top: -10px;
    width: fit-content;
    float: center;
  }

  header .main-nav {
    margin: auto;
    
  }

  #banner p { 
    margin-top: -40px;
    max-width: fit-content;
    float: center;
  }
}

.search {
  display:inline-block;
  background: none;
  padding: 1%;
  position: relative;
  top: 0px;
}


main {
    display: grid;
    justify-content: space-around;
    padding: 0px 5%;
    grid-template-columns: 2.5fr 1fr;
    grid-column-gap: 3%;
    padding-top: 5%;
    line-height: 30px;
    margin-top: -200px;
    z-index: 3;

}

article {
  align-content: center;
  
  min-width: fit-content;
  max-width: 0%;
  box-shadow: 0px 3px 7px rgb(82, 72, 51);
  border-radius: 10px;
  background-color:rgb(248, 247, 246);
  margin: 1%;
  padding: 3%;
  height: fit-content;
  
  z-index: 4;
}

article img {
  width: 100%;
}

div.list {
    overflow-y: scroll;
    overflow-x: visible;
    box-shadow: 0px 3px 7px rgb(82, 72, 51);
    border-radius: 10px;
    background-color:rgb(233, 230, 227);
    padding: 2px 1px;
    color: rgb(143, 132, 132);
    display: block;
    z-index: 5;
    
    max-height: 100%;
    margin-left: -25px;
    width: fit-content;
    position: fixed;
    top: 0px;
    margin-top: 0%;
    
}


  
  div.list li {
    color: hsl(233, 5%, 31%);
    list-style: none;
    margin: 5px;
    margin-left: -25px;
    display: block;
    width: fit-content;
    padding-right: 5px;
    
  }

  li label {
    cursor: pointer;
  }
  
  
  div.list a:hover, a:hover{
    color: hsl(40, 30%, 56%);
  }
  
  .Skills-list {
    display: none;
    width: fit-content;
    
  }

  #head:checked ~ .Skills-list {
    display: block;
    max-width: 100%;
    
  }

  .Skills-list li {
    display: block;
  }
  
  .Skills-list li .dropdown {
    margin-top: 20px;
    display: none;
  }
  
  .Skills-list #num:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #A:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #B:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #C:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #D:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #E:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #F:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #G:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #H:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #I:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #J:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #K:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }


  .Skills-list #L:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #M:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #N:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #O:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #P:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #Q:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }


  .Skills-list #R:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #S:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #T:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #U:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }


  .Skills-list #V:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #W:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #X:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #Y:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }

  .Skills-list #Z:checked ~.dropdown  {
    display: block; /* Display the dropdown */
    max-width: 100%; /* Set width of the dropdown */
    position:relative;
    z-index: 1;
  }


  

aside {
  box-shadow: 0px 3px 7px rgb(82, 72, 51);
  border-radius: 10px;
  background-color:rgb(248, 247, 246);
  float: right;
  width: 100%;
  padding: 1%;
  height: fit-content;
  display: block;
  margin: 1% 2%;
  margin-top: 60%;
}

aside section h3 {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px solid #0c0b0b;
}

aside section {
  padding: 10px;
}

dt {
margin: 3%;
}

@media only screen and (max-width: 800px) {

  #banner {
    z-index: -2;
  }

  div.list {
    margin-left: -25px;
  }

  main {
    display: block;
    align-content: center;
    margin-top: -100px;
   
  }
  article {
    width: fit-content;
    margin-top: 20%;
    margin-bottom: 5%;
    
  }

  div.body {
    padding-right: 2%;
    width: 90%;
}

  aside {
    width: 95%;
    
    margin-top: 0%;
  }
}

footer {
  height: auto;
  background-color: rgb(233, 227, 227);
  width: 100%;
  position: relative;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: 0%;
  padding: 0%;
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-end;
  align-items: center;
}


#footer-menu {
  display:block;
  padding: 0px 10px;
}

#footer-menu a {
  margin: 5px;
  display:block;
}


#footer-socials img {
  width: 30px;
  height: auto;
  
}

#footer-socials a {
  display:inline;
}

  @media only screen and (max-width: 800px) {
  footer {
    display:inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    }
  }