/*skills and traits*/
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
  }

  img {
    width: 50px;
    float: left;
  }

  header {
    background-color: rgb(233, 227, 227);
    height: 120px;
    position:fixed;
    width:auto;
    top: 0%;
    left: 0%;
    right: 0%;
    margin: 0%;
    padding: 0%;
    z-index: 10;
    align-content: center;
  }

  @media only screen and (max-width: 540px) {
    header {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      height: 175px;
    }
  
    img {
      margin-bottom: 1rem;
    }
  }
  
    header h1 {
      display: inline;
      padding: 10px;
      
    }

  header figcaption {
    padding-left: 100px;
    font-style: italic;
  }

  .socials {
    float: right;
    display:inline;
    padding: 10px;
    padding-right: 5%;
  }
  
  header nav li {
    display:inline-block;
    text-transform: uppercase;
    padding: 1%;
    
  }
    
  header ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}
 header ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
header ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
header ul li a:hover{
    color: #fff;
    background: #939393;
}
header ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
header ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
header ul li ul.dropdown li{
    display: block;
}

  a:hover {
    color:green;
  }

   a {
    color: black;
    text-decoration:none;
  }

  main {
    padding: 0%;
  }

  #banner {
    position: relative;
    height: 35rem;
    background: url("../media/images/desk-free.jpg") center center no-repeat;
    padding-top: 35%;
    background-size: cover;
    text-align: right;
    box-shadow: 0px 5px 10px rgb(82, 72, 51);
    color: rgb(233, 227, 227);
  }
  #banner h1 {
    padding-top: 10%;
    padding-right: 2%;
    font-family: "Creepster", cursive;
    font-size: 4rem;
  }

  #banner p {
    padding-left: 50%;
    font-size: 1.2rem;
  }

  .search {
    width: 100%;
    display: flex;
    background: none;
    padding: 1%;
  }

  #banner2 {
    position: relative;
    text-align: center;
    height: 5em;
    background: rebeccapurple;
    background-size: cover;
    box-shadow: 0px 5px 10px rgb(82, 72, 51);
    color:unset;
  }
 #banner2 h1 {
    font-family: "Creepster", cursive;
    font-size: 3em;
    padding-top: 4%;
  }

  @media only screen and (max-width: 560px) {

    #banner h1 {
      padding-top: 30%;
    }

    #banner2 {
      height: 20em;
      width: auto;
    }
    #banner2 h1 {
      font-size: 3em;
      width: 100%;
      padding-top: 45%;
      
    }
    
  }

  .banner2 {
    background: rebeccapurple;
    background-size: cover;
  }
  
 
  .H {
    font-size:x-large;
    font-weight:bold;
  }

  .aside {
    float: left;
    width: 10%;
    overflow-y:auto;
    background-position-y: fixed;
    padding-top: 20px;
  }
 
    .aside h1, p {
      text-align: center;
      padding-top: 1%;
    }
   
  article {
    float: left;
    width: 50%;
    margin: 1%;
    padding: 1%;
    padding-top: 5%;
    height: 100%;
  }

  aside {
    width: 20%;
    float: right;
    padding: 1%;
    padding-top: 5%;
  }

  aside section h3 {
    padding-top: 10px;
    border-top: 2px solid #0c0b0b;
  }
  aside section {
    display: block;
    padding: 10px;
  }
  
dt {
  margin-bottom: 3%;
}

footer {
    font-size: 80%;
    padding: 1%;
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    text-align: center;
    width: 100%;
}
body {
  padding: 3%;
}

@media only screen and (max-width: 560px) {

  article {
    width: 70%;
  }

  aside {
    width: 50%;
    float: none;
    position: relative;
  }
}

@media only screen and (max-width: 560px) {
  footer {
    padding: 5%;
  }
}