* {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  box-sizing: border-box;
}
body {
  background-color: snow;
  color: rgb(27, 26, 26);
}



header {
  width: 100%;
  top: 0%;
  left: 0%;
  right: 0%;
  margin: 0%;
  padding: 0%;
  background-color: rgb(233, 227, 227);
  z-index: 10;
  position:absolute;
  align-content: center;
}

header img {
  display:inline;
  width: 50px;
  float: left;
}


figure {
  display: inline;
}


header figcaption {
  font-style: italic;
  font-size: 12px;
}

header .socials {
  float: right;
  
}

@media only screen and (max-width: 700px) {
  header .socials {
    display: none;
  }
  
}

@media only screen and (max-width: 550px) {
  header .home {
    width: 90%;
    align-self: center;
  }
  header nav {
    text-align: center;
  }
  header .main-nav a {
    padding: 3px;
  }
}

header nav {
  margin: 0% 5% 0% 0%;
}



header .home {
  float: left;
  display:inline;
  margin-right: 20px;
  
}

header .main-nav a {
  color: hsl(39, 84%, 52%);
  text-transform: uppercase;
  margin: 20px 0px;
  padding: 2px;
  display: block;
}

header.main-nav li {
  display: inline;
  position: sticky;
  top: 0px;
}

header ul li{
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 0px 20px;
}
header ul li a{
  display: block;
}

header .main-nav a:hover, a:hover{
  color: hsl(40, 8%, 38%);
}


header nav li ul.dropdown{
  min-width: 100%; /* Set width of the dropdown */
  display: none;
}
header nav li:hover ul.dropdown {
  display: inline-block; /* Display the dropdown */
  position:absolute;
  background: rgb(233, 227, 227);
  width: auto;
  z-index: 12;
}

@media only screen and (min-width: 1000px) {
  header nav li:hover ul.dropdown {
    width: 700px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 850px) {
  header nav li:hover ul.dropdown {
    width: 550px;
  }
}

@media only screen and (max-width: 850px) and (min-width: 650px) {
  header nav li:hover ul.dropdown {
    width: 350px;
  }
}

a:focus {
  color: rgb(240, 223, 191);
}

#load {
  font-style: italic;
}

main {
  margin: 0% 5%;
}

#banner {
  position: relative;
  top: 70px;
  height: 25rem;
  background: url("../media/images/desk-free.jpg") center center no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px rgb(82, 72, 51);
  color: rgb(233, 227, 227);
  margin-bottom: 40px;
}  

#banner h1 {
  margin-top: 2.5em;
  padding: 2%;
  float: right;
  font-family: "Creepster", cursive;
  font-size: 3rem;
}

#banner p {
  float: right;
  font-size: 1.2rem;
  padding-right: 2%;
  margin-left: 30%;
  margin-top: 0px;
}

@media only screen and (max-width: 550px) {
  #banner h1 { 
    font-size: 2.5rem;
    margin-top: 3em;
  }
}

@media only screen and (max-width: 300px) {
  #banner h1 { 
    font-size: 2rem;
    margin-top: 5.3em;
  }
}

.search {
  width: 100%;
  display: flex;
  background: none;
  padding: 1%;
  position: relative;
  top: 40px;
}


article {
  float: left;
  width: 55%;
  margin: 1%;
  padding: 1%;
  padding-top: 2%;
  height: 100%;
}

aside {
  width: 35%;
  float: right;
  padding: 1%;
  padding-top: 5%;
  display: block;
}

aside section h3 {
  padding-top: 10px;
  border-top: 2px solid #0c0b0b;
}

aside section {
  padding: 10px;
}

dt {
margin: 3%;
}

@media only screen and (max-width: 700px) {

  article {
    width: 90%;
  }

  aside {
    width:80%;
    float: left;
  }
}

footer {
  padding: 1%;
  clear: both;
  color: #ffffff;
  background-color: #aeaca8;
  text-align: center;
  width: 100%;
  display: inline-block;
}


footer img {
  width: 30px;
}

@media only screen and (min-width: 700px) {
  footer .socials {
    display: none;
    margin-right: 0px;
  }
  }