* {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  
  color: hsl(0, 5%, 18%);
}



header {
  width: 100%;
  top: 0%;
  left: 0%;
  right: 0%;
  margin: 0%;
  padding: 0%;
  background-color: rgb(233, 227, 227);
  z-index: 9;
  position:absolute;
  align-content: center;
}

header img {
  display:inline;
  margin: 5px;
  width: 50px;
  float: left;
}


figure {
  display: inline;
}


header figcaption {
  font-style: italic;
  font-size: 12px;
 
}


header nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 4%;
}

header nav li {
  font-size: 1.5rem;
}

header a {
  color:hsl(226, 58%, 21%);
}

li a {
  color: hsl(0, 5%, 18%);
}

li a:hover {
  color: hsl(221, 46%, 35%);
}

@media screen and (max-width: 700px) {
  header nav { 
    display: block;
    margin: 0px 10%;
  }
  
}

header .home {
  margin-right: auto;
  display:inline-flex;
  color: inherit;
}

header .main-nav {
  display:inline-flex;
  margin-right: 10px;
  margin-left: auto;
}

header .main-nav li {
  color: hsl(234, 46%, 18%);
  list-style: none;
  padding: 5px;
  margin: 10px 5px;
}


header .main-nav a:hover, a:hover{
  color: hsl(40, 30%, 56%);
}


a:focus {
  color: rgb(240, 223, 191);
}

p a {
  color: #466995;
  text-decoration: underline;
  cursor: pointer;
}

p a:hover {
  text-decoration: underline;
}

#load {
  font-style: italic;
}

main, #banner {
  margin: 0% 5%;
}

#banner {
  position: relative;
  top: 70px;
  height: 25rem;
  z-index: 2;
  background: url("../media/images/desk-free.jpg") center center no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 10px rgb(82, 72, 51);
  
  margin-bottom: 40px;
}  

#banner h1 {
  margin-top: 2.5em;
  padding: 2%;
  float: right;
  background-color:rgb(248, 247, 246);
  font-family: "Creepster", cursive;
  font-size: 3rem;
}

#banner p {
  float: right;
  font-size: 1.2rem;
  background-color:rgb(248, 247, 246);
  padding-right: 2%;
  margin-left: 30%;
  margin-top: 0px;
}

@media only screen and (max-width: 550px) {
  #banner h1 { 
   
    margin-top: 1.5em;
    width: fit-content;
    float: center;
  }

  header .main-nav {
    margin: auto;
    
  }

  #banner p { 
    margin-top: -40px;
    max-width: fit-content;
    float: center;
  }
}

@media only screen and (max-width: 300px) {
  #banner h1 { 
    font-size: 2rem;
    margin-top: 5.3em;
  }
}

.content-menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;
  padding: 1%;
  border: solid rgb(228, 226, 226) 0.5px;
}

.content-menu div {
  margin: 5px;
  height: auto;
}

.content-menu img {
  width: 100%;
 
}


.para-menu {
  padding: 5px;
  padding-left: 10px;
  background-color: hsla(45, 6%, 87%, 0.986);
  height: auto;
  overflow: hidden;
}

.search {
  display:inline-block;
  background: none;
  padding: 1%;
  position: relative;
  top: 0px;
}


main {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 3%;
}

article {
  float: left;
  margin: 1% 3%;
  padding: 1%;
  padding-top: 2%;
  height: 100%;
  line-height: 30px;
}

aside {
 
  float: right;
  padding: 1%;
  padding-top: 5%;
  display: block;
}

aside section h3 {
  padding-top: 10px;
  border-top: 2px solid #0c0b0b;
}

aside section {
  padding: 10px;
}

dt {
margin: 3%;
}

.Careers li {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: fit-content;
  margin: 1%;
  background: #aeaca8;
  padding: 5px 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {

  main {
    display: block;
    align-content: center;
  }
  article {
    width: 90%;
  }

  aside {
    width:80%;
    float: left;
  }
}

footer {
  color: #ffffff;
  background-color: #aeaca8;
  width: 100%;
  position: relative;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: 0%;
  padding: 0%;
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-end;
  align-items: center;
}


#footer-menu {
  display:block;
  padding: 0px 10px;
}

#footer-menu a {
  margin: 5px;
  display:block;
}


#footer-socials img {
  width: 30px;
  height: auto;
  
}

#footer-socials a {
  display:inline;
}

  @media only screen and (max-width: 800px) {
  footer {
    display:inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    }
  }
